{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 34.24162730843111,
        "longitude": -77.91308117564768,
        "elevation": 0,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "UTC",
        "external_url": null,
        "internal_url": null
    }
}